*{
  font-family:sans-serif;
  font-size: 27px;
  font-weight: bold;
  border-radius : 50%;
  color: darkgoldenrod;
}

.container {
  margin:15%;
  height : 100vh;
  display: flex;
align-items: center;
justify-content: center;
}

.calculator{
  height: 400px;
  width: 280px;
  display : grid;
  grid-template-rows : repeat(6, 60px);
  grid-template-columns :repeat(4, 60px);
  gap: 11px;
  background-color : #DFE3EE;
  border-radius :20px;
  padding : 7% 5%;
}

input{
  color : darkgoldenrod;
  grid-column : span 4;
  border-radius : 30px;
  text-align: end;
  font-size :50px;
  border : 2px #8B9DC3 solid;
  padding : 1%;
  background-color : antiquewhite;
}

.equal {
  grid-column : span 2;
  border-radius: 30px;
}

button {
border: 2px #8B9DC3 solid;
background-color:  #ffffe6;
}

/*  Mobile resposive  */
@media (min-width: 400px) and (max-width: 768px){
.ontainer{
  margin: 15%;
}
  
  *{
    font-size: 15px;
  }

  .calculator{
    padding: 8% 4.5%;
    height: 267px;
    width: 185px;
    grid-template-columns: repeat(4, 35px);
    grid-template-rows: repeat(6, 35px);
    gap: 7px;
    text-align: center;
    justify-content: centetr;
  }

  input{
    font-size: 21px;
  }
}

  




